.info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
  margin: 1.5rem;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

#menu-h ul {
  list-style: none;
  padding: 0;
  background-color: rgb(247, 223, 10);
  margin-bottom: 0;
}

#menu-h ul li {
  display: inline;
}

#menu-h ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: background 0.4s;
}
#menu-h ul li a:hover {
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
}

html {
  font-size: 10px;
  font-size: calc(5px + 0.4vw);
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}
a {
  text-decoration: none;
  color: #d39e00;
}

a:hover {
  text-decoration: none;
  color: #7a5d05;
}
/* Slider */
.cd-slider {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.cd-slider.ie9 nav div span {
  display: none;
}
.cd-slider ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
}
.cd-slider ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 135vh;
  height: 135vh;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: border-width 0.4s 0.6s;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;

  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.4s 0.6s, transform 0.4s 0.6s;
}
.content blockquote {
  position: absolute;
  bottom: 5%;
  left: 4%;
  z-index: 2;
  max-width: 45%;
}
blockquote p {
  font-size: 4rem;
  margin-bottom: 2rem;
}
blockquote span {
  font-size: 1.4rem;
}

.cd-slider li.current_slide {
  visibility: visible;
}
.cd-slider li.current_slide::before {
  border-width: 16rem;
}
.cd-slider li.current_slide .content {
  opacity: 1;
  transform: scale(1);
}

nav div {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  list-style: none;
}
nav div:last-of-type {
  left: auto;
  right: 4%;
}
.prev,
.next {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  transition: box-shadow 0.3s;
}
.prev::before,
.prev::after,
.next::before,
.next::after {
  content: "";
  position: absolute;
  left: 43%;
  background: #fff;
  width: 0.4rem;
  min-width: 3px;
  border-radius: 3px;
  height: 34%;
}
.prev::before {
  transform: rotate(45deg);
  top: 24%;
}
.prev::after {
  transform: rotate(-45deg);
  bottom: 24%;
}
.next::before,
.next::after {
  left: auto;
  right: 43%;
}
.next::before {
  transform: rotate(-45deg);
  top: 24%;
}
.next::after {
  transform: rotate(45deg);
  bottom: 24%;
}
.prev:hover,
.next:hover {
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}
nav > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 5;
  pointer-events: none;
  will-change: width, height;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}



.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.wrapper {
  height: 420px;
  width: 748px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.card-horizontal img {
  width: 100%;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
}

.product-text h1 {
  font-size: 30px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
  margin: 0px;
}


.product-price-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.product-price-btn button {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #3f3f3f;
  cursor: pointer;
  outline: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-price-btn button:hover {
  background-color: #686868;
}
section {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-decoration: none;
}

.accordion-item {
  background-color: #4b4949;
  border-radius: 0.4rem;
  text-decoration: none;
}

.accordion-item hr {
  border: 1px solid rgba(71, 71, 71, 0.5);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: hsl(180, 1%, 21%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  text-decoration: none;
}

.accordion-link h3 {
  font-weight: 500;
  font-size: 20px;
}

.accordion-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.accordion-link ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #000;
  transition: max-height 650ms;
}

.answer p {
  color: #fff;
  font-size: 15px;
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}

.no-padding {
  padding: 0px !important;
}

.area-products {
  width: 100%;
  max-width: 80rem;
  margin: 30px auto 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.card-banner {
  width: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #fff;
}

.card-about {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #fff;
}

.card {
  margin-right: 10px;
}

  /* rodapé */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2b2b2b;
  background-color: rgb(247, 223, 10);
  border-top: 1px solid #e5e5e5;
  margin-top: 35px;
  
}

.footer-parag1 {
  line-height: 10px;
  margin-bottom: -15px;
}

.footer > * {
  flex: 1 100%;
  text-align: center;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

#menu-footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

#menu-footer ul li {
  display: inline;
}

#menu-footer ul li a {
  color: #2b2b2b;
  text-decoration: none;
  padding: 0 10px 10px 10px;
  display: inline-block;
  transition: background 0.4s;
}
#menu-footer ul li a:hover {
  color: rgb(255, 255, 255);
}

  /* voltar ao topo */

#back-to-top {
  text-decoration: none;
  background-color: #363636;

  color: #ffffff;
  padding: 15px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 20px;

  }
  
  #back-to-top:hover {
    text-decoration: none;
    border: none;

  }
  
  /*CONTATO*/

  input, label {
    display: block;
    width: 100%;
    outline: none;
}

input:focus, label:focus{
    outline: none;
}

  #main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

.titulo-form {
  color: black;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus{
    border-color: #e6bc00;
}

input[type="submit"] {
    background-color: #e6d700;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

#agreement {
    margin-right:5px;
}

#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #f11;
    position: absolute;
    top: 57px; 
}


.template {
    display: none;
}

/*clientes*/

#clientes {
text-align: center;
}

.titulo-clientes {
  text-align: center;
  color: #000;
}